<h1>Playing the game here</h1>
<ul>
  <li>Link to Bootstrap</li>
  <li>create layout</li>
  <li>Create score/result page</li>
  <li>Link the enter/play button</li>
  <li>Create scoring algorithm</li>
  <li>Fine-tine layout/design</li>
</ul>
